.about-container {
    justify-content: start;
}

.about-col1 img {
    object-fit: contain;
    width: 50%;
}

.about-col2 {
    height: 100%;
}


.sub-title {
    margin-top: 5%;
    font-size: 3em;
    font-weight: 600;
    color: var(--clr-yellow);
}

.about-description {
    font-size: 14px;
    margin-top: 10px;
    line-height: 26px;
}

.tab-titles {
    display: flex;

    margin: 20px 40px 20px 0;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: .2s;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--clr-light-yellow);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .3s;

    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.tab-links:not(.tab-links.active-link):hover {
    transform: translateY(-3px);
    color: var(--clr-light-yellow);
}

.tab-links.active-link::after{
    transform: scaleX(1);
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 15px 0;
}

.tab-contents ul li span {
    font-size: 14px;
    font-weight: bold;
    color: var(--clr-light-yellow);
}

.tab-contents ul li i {
    font-size: 20px;
    margin-right: 10px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*xxs*/
@media (max-width: 320px){

}

@media (max-width: 425px) {
    .about-col2 {
        max-width: 290px;
        padding: 0;
    }

    .about-image {
        display: none;
    }
    .about-description {
        font-size: 8px;
        line-height: 1.75em;
    }
    .sub-title {
        font-size: 1.5em;
    }

    .tab-links {
        margin-right: 20px;
        font-size: .75em;
    }

    .tab-contents ul li{
        margin: 0;
    }

    .tab-contents ul{
        font-size: .5em;
    }

    .tab-contents ul li span{
        font-size: .45em;
    }
}

/*xs*/
@media (min-width: 425px){
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-col2 {
        padding: 0 5%;
    }

    .about-description {
        font-size: 12px;
        line-height: 1.75em;
    }
    .sub-title {
        font-size: 2em;
    }

    .tab-links {
        font-size: .75em;
    }

    .tab-contents ul{
        font-size: .8em;
    }

    .tab-contents ul li span{
        font-size: 1em;
    }

    .about-image {
        display: none;
    }
}

/*s*/
@media (min-width: 640px){
    .about-image {
        display: none;
    }

    .about-col2 {
        padding-right: 5%;
    }
}

/*m*/
@media (min-width: 768px){
    .about-container {
        align-items: start;
    }

    .about-container {
        flex-direction: row;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-description {
        font-size: 12px;
    }

    .about-image {
        display: block;
        object-fit: contain;
        width: 35%;
    }


}

/*lg*/
@media (min-width: 1024px){
    .about-image {
        object-fit: contain;
        width: 35%;
    }

}

/*xL*/
@media (min-width: 1285px){
    .about-image {
        object-fit: contain;
        width: 40%;
    }

    .about-description {
        font-size: .85em;
        line-height: 1.5em;
    }

    .tab-titles div {
        font-size: 1.25em;
    }
}

/*2xL*/
@media (min-width: 1920px){
    .sub-title {
        font-size: 4em;
    }
    .about-description {
        font-size: 1em;
        line-height: 1.5em;
    }

    .tab-titles div {
        font-size: 1.5em;
    }

    .tab-contents {
        font-size: 1.3em;
    }
}


